
* {
    box-sizing: inherit;
}

html {
    font-size: 100%;
    line-height: 1.2rem;
    box-sizing: border-box;
}

.product__content{
    padding: 1.5rem;
}

.gird{
    min-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: nowrap;
    padding: 12px;
    margin-left: -12px;
    margin-right: -12px;
}

/*test*/
.grid__column--2{
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}
.grid__column--10{
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3333%;
}

.grid__column--2-5{
    width: 25%;
    /* padding-right: 12px; */
    text-align: center;
}
